#--------------------------------------
# AWS Instance.

resource "aws_instance" "spawn_instance_{{ cluster_name }}" {
    count = "{{ cluster_size }}"
    instance_type = "{{ instance_type|default('t2.micro') }}"
    ami = "{{ amis['centos7'] }}" 
    vpc_security_group_ids = ["{{ security_groups['all'] }}"]
    subnet_id = "{{ subnets['us-east-1b'] }}"
    key_name = "${aws_key_pair.spawn_keypair.key_name}"

    root_block_device = {
        volume_type = "standard"
        volume_size = "{{ volume_size | default('10') }}"
        delete_on_termination = "true"
    }

    tags = {
    {%- for tag in tags.keys() %}
        {{ tag }} = "{{ tags[tag] }}"
    {%- endfor %}
    }
}

output "{{ cluster_name }}" {
    value = ["${aws_instance.spawn_instance_{{ cluster_name }}.*.private_ip}"]
}

